body {
    background-image: url('../pictures/hotel-wallpaper.webp');
    text-align: center;
    padding: 3rem;
    transition: 0.5s;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
}
.dark-theme {
    background-image: url('../pictures/hotel-wallpaper-black.webp');
    color: #ddd;
}
.dark-theme #text {
    background: #333;
    color: #ddd;
}
.dark-theme #Type,
.dark-theme #Input {
    border-radius: 4px;
    border: 1.5px solid #ddd;
    color: #ddd;
}

input, select {
    border-radius: 4px;
    border: solid 1.5px #000;
    color: #000;
}
input {
    outline: 0;
    width: 60px;
}
select {
    padding: 0.5rem;
    cursor: pointer;
}

#text {
    border: 4px;
    border-radius: 8px;
    width: 600px;
    height: 240px;
    max-width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #b2b2b2;
    color: #000;
}
textarea::placeholder {
    color: #676767; 
    opacity: 1;
}
#countchar,
#countword,
#countsent {
    font-size: 1.5rem;
}
.alert{
    color: #ff6666;
}
