body {
    background-image: url('../pictures/hotel-wallpaper.webp');
    text-align: center;
    padding: 3rem;
    transition: 0.5s;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
}
.dark-theme {
    background-image: url('../pictures/hotel-wallpaper-black.webp');
    color: #ddd;
}
.dark-theme #text {
    background: #333;
}
.dark-theme #Type,
.dark-theme #Input {
    border-radius: 4px;
    border: 1.5px solid #ddd;
}

input, select {
    border-radius: 4px;
    border: solid 1.5px #000;
    color: #000;
}
input {
    outline: 0;
    width: 60px;
}
select {
    padding: 0.5rem;
    cursor: pointer;
}

#text {
    border: 4px;
    border-radius: 8px;
    width: 600px;
    height: 240px;
    max-width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #b2b2b2;
    color: #000;
}
textarea::placeholder {
    color: rgb(103, 103, 103); 
    opacity: 1;
}
#anounce {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px;
    border-radius: 8px;
    max-width: 100%;
    font-size: 0.6rem;
    color: #7f7f7f;
}
#countchar,
#countword,
#countsent {
    font-size: 1.5rem;
}
.alert{
    color: #f66;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#bar { 
    background-color: rgb(127, 215, 242);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    transition: width 0.3s ease;
}
.icon {
    position: absolute;
    width: 50px;
    height: auto;
    left: 100%;
}

button {
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
#copybtn {
    background: rgb(22, 161, 32);
}
#pastebtn {
    background: #ff7043;
}
#deletebtn {
    background: rgb(255, 0, 0);
}
#togglebtn {
    background: #007BFF;
}