body{
    text-align: center;
    padding: 2rem;
    transition: .5s;
}
.dark-theme {
    background: #000;
    color : #ddd;
}
.dark-theme #text {
    background: #333;
    color: #ddd;
}
#text {
    border: 4px;
    border-radius: 8px;
    width: 600px;
    height: 240px;
    max-width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #b2b2b2;
    color: #000;
}
textarea::placeholder {
    color: rgb(103, 103, 103); 
    opacity: 1;
}
input{
    border: solid 1px #7f7f7f;
    color: #7f7f7f;
    outline: 0;
    width: 60px;
}
#anounce {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px;
    border-radius: 8px;
    max-width: 100%;
    font-size: 0.6rem;
    color: #7f7f7f;
}
#count{
    font-size: 1.5rem;
}
.alert{
    color: #f66;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }

#bar { 
    background-color: rgb(127, 215, 242);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    transition: width 0.3s ease;
}
.icon {
    position: absolute;
    width: 50px;
    height: auto;
    left: 100%;
}

#togglebtn {
    background: #007BFF;
    padding: 1rem;
        margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
#deletebtn {
    background: rgb(255, 0, 0);
    padding: 1rem;
        margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
#copybtn {
    background: rgb(22, 161, 32);
    padding: 1rem;
        margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}